<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %> 
        </title>
    </head>
    <body>
        <!-- Third Time Change -->
        <%- include('_header.ejs') %> 
        <!-- Second Time Change 
        <header>
            Home Page Header
        </header>-->
        <!-- can change the heading using title also : First Change-->
        <h1>Codeial : A Social Media App / <%= title %> </h1>
        <!-- Second Time Change  
        <footer>
            Home Page Footer
        </footer>-->
        <!-- Third Time Change -->
        <%- include('_footer.ejs') %> 
    </body>
</html>