<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %> 
        </title>
    </head>
    <body>
        <!-- can change the heading using title also -->
        <h1>Codeial : A Social Media App / <%= title %> </h1>
    </body>
</html>