<!-- Fourth Time Change: kept only the var part and removed 
    all the common parts, even removed html,head and body tags as
    well as the include headers and footers --> 
    <h1>Codeial : A Social Media App / <%= title %> </h1>