<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %> 
        </title>
    </head>
    <body>
        <%- include('_header.ejs') %>
        <!-- Since the body needs to be kept variable do this -->
        <%- body %> 
        <%- include('_footer.ejs') %>
    </body>
</html>