<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %> 
        </title>
    </head>
    <body>
        <h1> Ussseeerrrr Profile Page / <%= title %> </h1>
        <h2> Postttt 1 / <%= postttname1 %>  </h2>
        <h2> Postttt 2 / <%= postttname2 %>  </h2>
    </body>
</html>